/**
 * @file
 * This file defines the page layout structure.
 */

#page {
  margin: 0 auto;
  max-width: 1600px;
}

/**
 * To change the width of a sidebar, just modify the corresponding values of this sidebar.
 * For example, If you want to change the width of the right sidebar to 250px, change the
 * value of each line commented "Right Sidebar width" to 250px.
 */

#section-footer {
  clear: both;
  float: none;
}

/* Layout Helpers */

#section-header,
#section-footer,
#section-main #content .mission,
#section-main #content .breadcrumb,
#section-main #content .node {
  clear: both;
}

#section-header {
  max-width: 350px;
  padding: 1em;
  margin: 0 auto;
}

#section-navigation {
  text-align: center;
}

#sidebar-second .view-advertisements .views-row {
  display: inline-block;
}

.region.region-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Article Cards */

div#block-views-topics-headers-comics-header,
div#block-views-topics-headers-news-header,
div#block-views-topics-headers-opinion-header,
div#block-views-topics-headers-reviews-header,
div#block-views-topics-headers-sports-header,
div#block-views-topics-headers-arts-header {
    flex: 0 1 100%;
}

.view-display-id-news_header .view-content,
.view-display-id-arts_header .view-content,
.view-display-id-sports_header .view-content,
.view-display-id-opinion_header .view-content,
.view-display-id-reviews_header .view-content,
.view-display-id-comics_header .view-content {
  padding: 1em;
  margin: .5em;
  height: 100%;
}

.mirror-news-article-body {
    margin-top: 1em;
}

.view-id-topics_headers {
  height: 100%;
}

div#block-views-topics-headers-comics-header .content,
div#block-views-topics-headers-news-header .content,
div#block-views-topics-headers-opinion-header .content,
div#block-views-topics-headers-reviews-header .content,
div#block-views-topics-headers-sports-header .content,
div#block-views-topics-headers-arts-header .content {
    height: 100%;
    padding-bottom: 1em;
}


.view-display-id-news_header .views-field-term-node-tid a,
.view-display-id-arts_header .views-field-term-node-tid a,
.view-display-id-sports_header .views-field-term-node-tid a,
.view-display-id-opinion_header .views-field-term-node-tid a,
.view-display-id-reviews_header .views-field-term-node-tid a,
.view-display-id-comics_header .views-field-term-node-tid a {
  padding: .5em;
  position: absolute;
  margin: -.5em;
  color: #fff;
  font-weight: bold;
  min-width: 5em;
  text-align: center;
}


.view-display-id-news_header .views-field-term-node-tid a {
    content: 'News';
    background-color: #5A5858;

}

.view-display-id-arts_header .views-field-term-node-tid a {
    content: 'Arts';
    background-color: #592323;
}

.view-display-id-sports_header .views-field-term-node-tid a {
    content: 'Sports';
    background-color: #232C59;
}

.view-display-id-opinion_header .views-field-term-node-tid a {
    content: 'Opinion';
    background-color: #425923;
}

.view-display-id-reviews_header .views-field-term-node-tid a {
    content: 'Reviews';
    background-color: #235952;
}

.view-display-id-comics_header .views-field-term-node-tid a {
    content: 'Comics';
    background-color: #592356;
}

@media only screen and (min-width: 480px) {

  .two-sidebars #sidebar-first {
    float: left;
    width: 49%;
  }

  .two-sidebars #sidebar-second {
    float: right;
    width: 49%;
  }

  div#block-views-topics-headers-comics-header,
  div#block-views-topics-headers-news-header,
  div#block-views-topics-headers-opinion-header,
  div#block-views-topics-headers-reviews-header,
  div#block-views-topics-headers-sports-header,
  div#block-views-topics-headers-arts-header {
    flex: 0 1 50%;
  }

}

@media only screen and (min-width: 769px) {

  #section-header {
    width: 30%;
    display: inline-block;
  }

  #section-navigation {
    text-align: left;
    display: inline-block;
  }

  #section-header a#logo img {
    display: inline-block;
  }

  #content {
    float: left;
    margin-right: -100%;
    padding: 0;
    width: 100%;
  }

  .two-sidebars #content-inner {
    margin-left: 200px;   /* Left Sidebar width */
    margin-right: 200px;  /* Right Sidebar width */
  }

  .sidebar-second #content-inner {
    margin-right: 200px;  /* Right Sidebar width */
  }

  .sidebar-first #content-inner {
    margin-left: 200px;   /* Left Sidebar width */
  }

  #sidebar-first, .two-sidebars #sidebar-first {
    float: left;
    margin-right: -200px;
    width: 200px;
  }

  #sidebar-second, .two-sidebars #sidebar-second {
    float: right;
    width: 200px;
  }
}

@media only screen and (min-width: 844px) {

  #section-footer .region-footer {
    display: grid;
    gap: 8px 32px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "affiliates logo"
      "links links"
      "message message";
  }

  #section-footer #block-menu-menu-affiliate-sites {
    grid-area: affiliates;
  }

  #section-footer #block-mysite-mysite-hfc-logo {
    grid-area: logo;
  }

  #block-hfcc-global-hfcc-global-footer-links {
    grid-area: links;
  }

  #block-hfcc-global-hfcc-global-footer-message {
    grid-area: message;
  }

}

@media only screen and (min-width: 960px) {

  .two-sidebars #content-inner {
    margin-left: 23%;   /* Left Sidebar width */
    margin-right: 23%;  /* Right Sidebar width */
  }

  .sidebar-second #content-inner {
    margin-right: 23%;  /* Right Sidebar width */
  }

  .sidebar-first #content-inner {
    margin-left: 23%;   /* Left Sidebar width */
  }

  #sidebar-first, .two-sidebars #sidebar-first {
    float: left;
    margin-right: -23%;
    width: 20%;
  }

  #sidebar-second, .two-sidebars #sidebar-second {
    float: right;
    width: 23%;
  }

  div#block-views-topics-headers-comics-header,
  div#block-views-topics-headers-news-header,
  div#block-views-topics-headers-opinion-header,
  div#block-views-topics-headers-reviews-header,
  div#block-views-topics-headers-sports-header,
  div#block-views-topics-headers-arts-header {
    flex: 0 1 33%;
  }

}

@media only screen and (min-width: 1200px) {

  #page {
    width: 90%;
  }

}
