/**
 * @file
 * Menu styling.
 */

/* Main Navigation */

* {
  margin: 0;
  padding: 0;
}

ul#main-menu {
  font-size: 1.25em; /* 17.500px */
  line-height: 1.2em;
  margin: 0;
  display: block;
}

ul#main-menu li.expanded,
ul#main-menu li {
  display: block;
  padding: 0.2em 0;
  text-align: left;
}

ul#main-menu a {
  color: #222;
  font-weight: 700;
  text-decoration: none;
}

ul#main-menu a:hover {
  background-color: rgba(0, 0, 0, 0);
}

ul#main-menu li a::before, ul#main-menu li a::after {
  content: '|';
  opacity: 0;
  transition: transform 0.3s, opacity 0.2s;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
}

ul#main-menu li a:hover::before, ul#main-menu li a:hover::after {
  opacity: 1;
}

ul#main-menu li.active:hover {
  background-color: #fefefe;
}

ul#main-menu a.active {
  color: #777;
}

/* Secondary Navigation */

ul#secondary-menu {
  float: right;
  line-height: 1.5em;
  padding: 0.25em 0; /* todo: test these values */
}

ul#secondary-menu li { }

ul#secondary-menu a { }

/* Sidebar Menus */

.sidebar ul.menu {
  margin: 0;
  text-align: center;
}

.sidebar ul.menu li {
  margin: 0;
}

.sidebar ul.menu a {
  font-weight: normal;
}

.sidebar ul.menu a.active {
  font-weight: bold;
}

.sidebar ul.menu a.active:hover {
  text-decoration: none;
}

.sidebar ul.menu .expanded,
.sidebar ul.menu .collapsed {
  list-style-image: none;
  list-style-type: none;
}

.sidebar ul.menu ul.menu {
  margin: 0 0 0 0.8em;
}

.sidebar ul.menu ul.menu ul.menu{
  margin: 0 0 0 0.8em;
}

.sidebar ul.menu li ul.menu li.last{
  padding: 0;
}

/* Apply specific formatting for a menu called "footer links" */

#block-menu-menu-footer-links ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

#block-menu-menu-footer-links ul li {
  display: inline;
  margin: 0;
  padding: 0 2px;
}

#block-menu-menu-footer-links a {
  color: #444;
  font-size: 11px;
  font-weight: normal;
  text-decoration: underline;
}

@media only screen and (min-width: 555px) {
  ul#main-menu > li {
    display: inline-block;
    padding: 0.2em 0.5em;
    text-align: center;
  }

}

@media only screen and (min-width: 768px) {
  .sidebar ul.menu {
    text-align: left;
  }
}

